<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source = den1.mssql8.gear.host;
         Initial Catalog=prjdb12; User=prjdb12; Password=No8brywL_n?M"/>
	</connectionStrings>
</configuration>
